[Unit]
Description=RyzenAdj Power Management
After=network.target

[Service]
Type=oneshot
ExecStart=ryzenadj --stapm-limit=25000 --fast-limit=25000 --slow-limit=25000 --tctl-temp=80 --vrm-current 45000
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
